@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:wght@700&family=Poppins:wght@400;500;600&display=swap');
*
{
  font-family: "Poppins", sans-serif;
}

.row
{
    font-size: 18px;
}

.contact_text
{
    color: aliceblue;
}

.contact_div
{
    margin-top: 150px;
}

.backtotop
{
    margin-top: 150px;
    margin-bottom: 60px;
}


/* #212529; */