@media (max-width: 990px)
{
	.side-menu
	{
		display: none;
	}

	.sections
	{
	  display: grid;
	  grid-template: 1fr / 1fr;
	  margin-left: 0px;
	}

	.about
	{
	  display: grid;
	  grid-template: 200px 200px 100px / 1fr;
	  grid-column-gap: 5px;
		width: 100vw;
	}

	.photo
	{
	  height: 180px;
	  width: 180px;
	  border-radius: 50%;
	}

	.about_text_holder
	{
		grid-column: 1 / -1;
		grid-row: 2 / 3;
		display: flex;
		justify-content: center;
		align-items: center;
	}

	.about-text
	{
		font-size: 20px;
		margin-left: 10px;
	}

	.button_center
	{
	  grid-column: 1 / -1;
	  grid-row: 3 / -1;
	  display: flex;
	  justify-content: center;
	  align-items: center;
	}

	.download-resume
	{
		text-decoration: none;
		color: #f2f2f2;
		text-align: center;
		border-radius: 20px;
		width: 200px;
		height: 50px;
		z-index: 1;
		font-size: 16px;
		background: #333333;
		box-shadow: 8px 8px 15px #333333;
	}

	.download-resume:hover
	{
	  font-size: 18px;
		color: #f2f2f2;
		box-shadow: 0px 0px 15px #333333;
	}
}



@media (max-width: 990px)
{
	.education
	{
	  color: #DFCFBE;
	  display: grid;
	  grid-template: 2fr 1fr 1fr 1fr / repeat(1, 1fr);
	}
	.education_header
	{
	  text-align: center;
	  grid-column: 1 / -1;
	  font-size: 30px;
	  font-weight: 600;
	}

	.uni, .college, .school
	{
	  font-size: 20px;
	  grid-column: 1 / -1;
	  margin-left: 10px;

	}
}
