html, body
{
	height: 100%;
	font-family: 'Noto Serif', serif;
}

ul
{
	position: relative;
	top: 8%;
	left: -23px;
	list-style-type: none;
	text-align: center;
}

.container
{
	position: absolute;
	top: 0px;
	left: 0px;
	height: 3852px;
	width: 100%;
	background: #f2f2f2;
}

.section-dark
{
	background: #262626;
}

.side-menu
{
	position: fixed;
	top: 15%;
	left: 5px;
	height: 400px;
	width: 150px;
	background-color: #000000;
	opacity: 0.8;
	text-align: left;
	color: #808080;
	line-height: 50px;
	font-size: 16px;
	border-radius: 25px;
	transition: height 1s, top 1s, opacity 1s, background-color 1s, line-height 1s, font-size 1s, color 1s;
	z-index: 1;
}

.side-menu:hover
{
	top: 13%;
	opacity: 1;
	height: 450px;
	background-color: #000000;
	color: #ffffff;
	line-height: 55px;
	font-size: 18px;
}

.about
{
	position: absolute;
	left: 0px;
	top: 0px;
	height: 642px;
	width: 100%;
	opacity: 0.9;
}

.photo
{
	position: absolute;
	left: 400px;
	top: 150px;
	height: 210px;
	width: 200px;
	border-radius: 50%;

}

.about-text
{
	width: 600px;
	position: absolute;
	left: 610px;
	top: 150px;
	font-size: 25px;
	line-height: 40px;
}

.education
{
	position: absolute;
	left: 0px;
	top: 642px;
	height: 642px;
	width: 100%;
}

.skills
{
	position: absolute;
	left: 0px;
	top: 1284px;
	height: 642px;
	width: 100%;
}

.certifications
{
	position: absolute;
	left: 0px;
	top: 1926px;
	height: 642px;
	width: 100%;
}

.projects
{
	position: absolute;
	left: 0px;
	top: 2568px;
	height: 642px;
	width: 100%;
}

.contact
{
	position: absolute;
	left: 0px;
	top: 3210px;
	height: 642px;
	width: 100%;
}





