html, body
{
	height: 100%;
	font-family: 'Noto Serif', serif;
}

ul
{
	position: relative;
	top: 8vh;
	left: 0vw;
  margin: 0px;
  padding: 0px;
	list-style-type: none;
	text-align: center;
}

a{
	text-decoration: none;
}


.progress-bar
{
	position: fixed;
	top: 0px;
	left: 0px;
	height: 0.37vw;
	width: 0%;
	background: #0080ff;
	border-radius: 0.15vw;
	z-index: 1;
}

.container
{
	position: absolute;
	top: 0px;
	left: 0px;
	height: 600vh;
	width: 98.8vw;
	background: #f2f2f2;
}

.section-dark
{
	background: #262626;
}

.side-menu-text
{
	color: white;
}


.side-menu
{
	position: fixed;
	top: 20vh;
	left: 0.37vw;
	height: 63vh;
	width: 11.119vw;
	background-color: #000000;
	opacity: 0.8;
	text-align: left;
	color: #808080;
	line-height: 8vh;
	font-size: 1.186vw;
	border-radius: 1.853vw;
	transition: height 1s, top 1s, opacity 1s, background-color 1s, line-height 1s, font-size 1s, color 1s;
	z-index: 1;
}

.side-menu:hover
{
	top: 17vh;
	opacity: 1;
	height: 67vh;
	background-color: #000000;
	color: #ffffff;
	line-height: 9vh;
	font-size: 1.234vw;
}

@media (max-width: 600px) {
	.side-menu
	{
		display: none;
	}
}

#a:hover, #b:hover, #c:hover, #d:hover, #e:hover, #f:hover
{
	padding: 0.37vw 0.37vw;
	background: #0080ff;
	border-radius: 0.6vw;
}

.about, .education, .skills, .certifications, .projects, .contact
{
	scroll-behavior: smooth;
	scroll-snap-type: y mandatory;
	scroll-snap-align: center;
}

.about
{
	position: absolute;
	left: 0px;
	top: 0px;
	height: 100vh;
	width: 98.8vw;
	opacity: 0.9;
}

.photo
{
	position: absolute;
	left: 25vw;
	top: 10vw;
	height: 18vw;
	width: 18vw;
	border-radius: 50%;

}

.about-text
{
	width: 44vw;
	position: absolute;
	left: 45vw;
	top: 11vw;
	font-size: 2vw;
	line-height: 3vw;
}

.education
{
	position: absolute;
	left: 0px;
	top: 100vh;
	height: 100vh;
	width: 98.8vw;
}

.education-header
{
	color: white;
	text-align: center;
	font-size: 4vw;
}
.education-text
{
	color: white;
	text-align: center;
	font-size: 3vw;
	line-height: 6vw;
}

.skills
{
	position: absolute;
	left: 0px;
	top: 200vh;
	height: 100vh;
	width: 98.8vw;
}

.skills-header
{
	text-align: center;
	font-size: 4vw;
}

.certifications
{
	position: absolute;
	left: 0px;
	top: 300vh;
	height: 100vh;
	width: 98.8vw;
}

.certifications-header
{
	color: white;
	text-align: center;
	font-size: 4vw;
}

.projects
{
	position: absolute;
	left: 0px;
	top: 400vh;
	height: 100vh;
	width: 98.8vw;
}

.projects-header
{
	text-align: center;
	font-size: 4vw;
}

.contact
{
	position: absolute;
	left: 0px;
	top: 500vh;
	height: 100vh;
	width: 98.8vw;
}

.contact-header
{
	color: white;
	text-align: center;
	font-size: 4vw;
}
