@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:wght@700&family=Poppins:wght@400;500;600&display=swap');
*
{
  font-family: "Poppins", sans-serif;
}

body
{
  margin: 0;
}

a
{
  text-decoration: none;
}

ul
{
  list-style-type: none;
}

.section-dark
{
	background: #262626;
}

.progress-bar
{
	position: fixed;
	top: 0px;
	left: 0px;
	height: 5px;
	width: 0%;
	background: #0080ff;
	border-radius: 3px;
	z-index: 2;
}


.container
{
}

.side-menu
{
  width: 210px;
  position: fixed;
	background-color: #282D3C;
	text-align: left;
	color: #808080;
	line-height: 80px;
	transition: opacity 1s, background-color 1s, line-height 1s, font-size 1s, color 1s;
	z-index: 1;
}

.side-menu:hover
{
	opacity: 1;
	background-color: #000000;
	color: #ffffff;
}

#a, #b, #c, #d, #e, #f
{
  color: #bfbfbf;
  font-size: 22px;
	border-radius: 20px;
}

#a:hover, #b:hover, #c:hover, #d:hover, #e:hover, #f:hover
{
	color: #ffffff;
  font-size: 24px;
}

.sections
{
  display: grid;
  grid-template: 1fr / 1fr;
  margin-left: 210px;
}

.side-menu, .about, .education, .skills, .certifications, .projects, .contact
{
  font-size: 50px;
}

.side-menu, .about, .education, .skills, .certifications, .projects, .contact
{
  height: 100vh;
}


.about
{
  display: grid;
  grid-template: repeat(3, 1fr) / repeat(3, 1fr);
}

.photo
{
  height: 250px;
  width: 250px;
  margin-top: 150px;
  margin-left: 80px;
  border-radius: 50%;
}

.about-text
{
  grid-column: 2 / -1;
  font-size: 30px;
  padding-top: 180px;
}

.about-text span
{
  animation: fonty 3s 1;
  animation-delay: calc(.1s * var(--i));
}

@keyframes fonty {
  0%,40%,100% {
    font-size: 30px;
  }
  20% {
    font-size: 40px;
    font-weight: 400;
  }
}



.download-resume
{
  grid-column: 2 / 3;
  grid-row: 3 / -1;
	text-decoration: none;
	color: #f2f2f2;
	text-align: center;
	border-radius: 20px;
	width: 250px;
	height: 60px;
	z-index: 1;
	font-size: 22px;
	background: #333333;
	box-shadow: 8px 8px 15px #333333;
  margin-left: 90px;
}

.download-resume:hover
{
  font-size: 21px;
	color: #f2f2f2;
	box-shadow: 0px 0px 15px #333333;
}

.education
{
  color: #DFCFBE;
  display: grid;
  grid-template: repeat(8, 1fr) / repeat(10, 1fr);
}

.education_header
{
  text-align: center;
  grid-column: 1 / -1;
  margin-bottom: 50px;
  font-size: 60px;
}

.uni_img, .college_img, .school_img
{
  margin-left: 40px;
  margin-top: 10px;
  height: 50px;
  width: 50px;
}

.uni, .college, .school
{
  font-size: 40px;
  grid-column: 2 / -1;
}


.skills
{

}

.certifications
{

}

.projects
{

}

.contact
{

}
