@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:wght@700&family=Poppins:wght@400;500;600&display=swap');
*
{
  font-family: "Poppins", sans-serif;
}

/* html tag and common for entire website */
body
{
  margin: 0;
}

a
{
  text-decoration: none;
}

ul
{
  list-style-type: none;
}

.section-dark
{
	background: #262626;
}

/*----------------------------------------------------------------------------*/
/*----------------------------------------------------------------------------*/
/*----------------------------------------------------------------------------*/


/* some fixed stuffs of the website */
.progress-bar
{
	position: fixed;
	top: 0px;
	left: 0px;
	height: 5px;
	width: 0%;
	background: #0080ff;
	border-radius: 3px;
	z-index: 2;
}


.container
{

}

.side-menu
{
  width: 210px;
  position: fixed;
	background-color: #282D3C;
	text-align: left;
	color: #808080;
	line-height: 80px;
	transition: opacity 1s, background-color 1s, line-height 1s, font-size 1s, color 1s;
	z-index: 1;
}

.side-menu:hover
{
	opacity: 1;
	background-color: #000000;
	color: #ffffff;
}

#a, #b, #c, #d, #e, #f
{
  color: #bfbfbf;
  font-size: 22px;
	border-radius: 20px;
}

#a:hover, #b:hover, #c:hover, #d:hover, #e:hover, #f:hover
{
	color: #ffffff;
  font-size: 24px;
}


/*----------------------------------------------------------------------------*/
/*----------------------------------------------------------------------------*/
/*----------------------------------------------------------------------------*/


/* common stuffs for sections */
.sections
{
  display: grid;
  grid-template: 1fr / 1fr;
  margin-left: 210px;
}

.side-menu, .about, .education, .skills, .certifications, .projects, .contact
{
  font-size: 50px;
}

.side-menu
{
  height: 100vh;
}
/*----------------------------------------------------------------------------*/
/*----------------------------------------------------------------------------*/
/*----------------------------------------------------------------------------*/


/* about section */
.about
{
  display: grid;
  grid-template: 1.5fr 1fr / repeat(3, 1fr);
  grid-column-gap: 20px;
}

.photo
{
  height: 250px;
  width: 250px;
  margin-top: 150px;
  margin-left: 80px;
  border-radius: 50%;
}

.about-text
{
  grid-column: 2 / -1;
  font-size: 30px;
  padding-top: 180px;
}

.about-text span
{
  animation: fonty 3s 1;
  animation-delay: calc(.1s * var(--i));
}

@keyframes fonty {
  0%,40%,100% {
    font-size: 30px;
  }
  20% {
    font-size: 40px;
    font-weight: 400;
  }
}

.button_center
{
  grid-column: 1 / -1;
  grid-row: 2 / -1;
  display: flex;
  justify-content: center;
  align-items: center;
}

.download-resume
{
	text-decoration: none;
	color: #f2f2f2;
	text-align: center;
	border-radius: 20px;
	width: 250px;
	height: 60px;
	z-index: 1;
	font-size: 22px;
	background: #333333;
	box-shadow: 8px 8px 15px #333333;
}

.download-resume:hover
{
  font-size: 21px;
	color: #f2f2f2;
	box-shadow: 0px 0px 15px #333333;
}
/*----------------------------------------------------------------------------*/
/*----------------------------------------------------------------------------*/
/*----------------------------------------------------------------------------*/

/*   education section */
.education
{
  color: #DFCFBE;
  display: grid;
  grid-template: 2fr 1.2fr 1.2fr 1.2fr / repeat(10, 1fr);
}

.education_header
{
  margin-top: 50px;
  text-align: center;
  grid-column: 1 / -1;
  margin-bottom: 50px;
  font-size: 60px;
  font-weight: 600;
}

.uni_img, .college_img, .school_img
{
  margin-left: 40px;
  margin-top: 10px;
  height: 50px;
  width: 50px;
}

.uni, .college, .school
{
  font-size: 40px;
  grid-column: 2 / -1;

}
/*----------------------------------------------------------------------------*/
/*----------------------------------------------------------------------------*/
/*----------------------------------------------------------------------------*/


/* skills section */
.skills
{
  display: grid;
  color: #282D3C;
  grid-template: 1fr 2fr 0.1fr / repeat(2, 1fr);
  grid-column-gap: 30px;
}

.skills_header
{
  margin-top: 50px;
  text-align: center;
  grid-column: 1 / -1;
  margin-bottom: 50px;
  font-size: 60px;
  font-weight: 600;
}

.technical_skills_header, .other_skills_header
{
  font-size: 40px;
  font-weight: 600;
  text-align: center;
}

.technical_skills, .other_skills
{
  padding-left: 15px;
}

.technical_skills, .other_skills
{
  font-size: 25px;
}

.technical_skills:hover, .other_skills:hover
{
  box-shadow: 5px 5px 10px;
}
/*----------------------------------------------------------------------------*/
/*----------------------------------------------------------------------------*/
/*----------------------------------------------------------------------------*/

.certifications
{
  color: #DFCFBE;
  display: grid;
  grid-template: 2fr 1.2fr 1.2fr / 1fr;
}

.certifications_header
{
  margin-top: 50px;
  text-align: center;
  grid-column: 1 / -1;
  margin-bottom: 50px;
  font-size: 60px;
  font-weight: 600;
}

.certificate
{
  grid-column: 1 / -1;
  padding-left: 15px;
  font-size: 30px;
}
/*----------------------------------------------------------------------------*/
/*----------------------------------------------------------------------------*/
/*----------------------------------------------------------------------------*/


/* projects section  */
.projects
{

}
/*----------------------------------------------------------------------------*/
/*----------------------------------------------------------------------------*/
/*----------------------------------------------------------------------------*/


/* contact section */
.contact
{

}
/*----------------------------------------------------------------------------*/
/*----------------------------------------------------------------------------*/
/*----------------------------------------------------------------------------*/
